.coleccion {
    margin-left: 50px;
    margin-right: 50px;
}

.coleccion {
    text-align: center; 
    padding: 55px 0px ;
    margin: 50px 0px; 
}

// CONTACTO 

p {
    font-size: 15px;
}

.h2-cont {
    text-align: center;
    margin: 50px auto 25px auto;
    padding: 0px;
    font-size: 25px;
}

.p-contacto {
    text-align: center;
    margin: 20px;
}

.line {
    border-top: 1px solid rgb(156, 156, 156);
    height: 2px;
    max-width: 400px;
    padding: 0;
    margin: 20px auto 0 auto; 
}
.line-two {
    border-top: 1px solid rgb(156, 156, 156);
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 20px auto 0 auto; 
}

.contacto {
    
    
}

.contact {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

.contact-1 {
    height: auto;
    width: auto;
}

.contact-2 {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(4, min-content) 1fr; 
    grid-template-columns: 100%;
}

.input {
    position: relative;
    justify-content: center;
}

// ORO

.li-oro {
    text-decoration: none;
    list-style-type: none;
    font-size: 19px;   
    margin-bottom: 10px;
    text-align: start;
    border: 2px solid ;
}

.h2-oro {
    margin: 10px;
    
}

.h2-oro-2 {
    margin: 30px;
    
}

.div-oro {
    padding: 15px;
}
.div-oro-2 {
    padding: 30px;
}

.oro {
    margin-left: 50px;
    margin-right: 50px;
}

.oro {
    text-align: center; 
    padding: 5px 0px ;
    margin: 5px 0px; 
}

.img-oro {
    margin-top: 70px;
}

.p-oro {
    margin-top: 40px;
}

.text-oro {
    border: 2px solid ;
}
.line-3 {
    border-top: 1px solid rgb(156, 156, 156);
    height: 2px;
    max-width: auto;
    padding: 0;
    margin: 20px auto 0 auto; 
}