%img {
    display: flex;
    justify-content: center;
   
    margin-left: auto;
    margin-right: auto;
}

%query-size {
    padding-top: 0px;
    margin-top: 3px;
}

%grid {
    text-align: center; 
    padding: 55px 0px ;
    margin: 50px 0px; 
}
%grid-2 {
    margin-bottom: 0;
    padding-bottom: 0;
}